@use './partials/variables' as *;
// Font import
@import 'node_modules/@fontsource/montserrat/index.css';
@import 'node_modules/@fontsource/montserrat/100.css';

//impostazioni di stile generiche
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: $main-font;
    font-size: 16px;
}

//sfondo
body {
    background: rgb(0,0,0);
    background: linear-gradient(338deg, rgba(0,0,0,1) 0%, rgba(37,0,2,1) 96%, rgba(66,0,4,1) 100%, rgba(90,0,5,1) 100%, rgba(133,0,7,1) 100%, rgba(255,0,13,1) 100%);
    height: 100vh;
}